In [1]:
import pandas as pd
import numpy as np
import pickle
import polars as pl

In [2]:
def load_targets(target):
    targets = pd.read_csv(target)
    targets["session"] = targets["session_id"].str.split("_",expand = True)[0]
    targets["session"] = targets["session"].astype(int)
    targets['q'] = targets.session_id.apply(lambda x: int(x.split('_')[-1][1:]) )
    return targets

In [2]:
target_path = '../data/raw/input/train_labels.csv'
data_path = '../data/raw/collected/more_data.parquet'
# targets = load_targets(target_path)
df = pd.read_parquet(data_path)

In [3]:
pickle.dump(df, open('../data/processed/concat/train.pkl', 'wb'))

In [4]:
# add_df = pd.read_parquet('../data/raw/collected/more_data.parquet')
add_target = pd.read_parquet('../data/raw/collected/more_label.parquet')

# display(add_df.head())
# display(add_target.head())
add_target

,session_id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,save_code
0,19110000090781600,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0
1,19110003194626970,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,19110007435189656,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,19110008053486390,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
4,19110008122038204,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,22060612030771748,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
605,22060614142472616,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
606,22060615522168090,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0
607,22060616521475370,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
608,22060620095004016,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [7]:
# 1. target 18개 있는 세션만 저장하기
df.set_index('session_id').loc[add_target.dropna().session_id].reset_index().to_parquet('../data/processed/concat/more_train_fully_labeled.parquet')

## 1. NaN 값을 다 빼서 10000명으로만 유저 데이터를 합쳐서 학습 진행 - 시도 - 성능 안오른다 - 버리는걸로..

In [2]:
# more_train = pd.read_parquet('../data/processed/concat/more_train_fully_labeled.parquet')
# train = pd.read_parquet('../data/raw/input/train.parquet')

total_train = pd.concat([pd.read_parquet('../data/raw/input/train.parquet'),
                          pd.read_parquet('../data/processed/concat/more_train_fully_labeled.parquet').drop(columns=['save_code'])])\
                .astype({
                        'elapsed_time': 'int64',
                        'level': 'int8'
                    })\
                .to_parquet('../data/processed/concat/total_train_fully_labeled.parquet')

In [5]:
# target
target = pd.read_csv('../data/raw/input/train_labels.csv')
target

                   session_id  correct
0        20090312431273200_q1        1
1        20090312433251036_q1        0
2        20090312455206810_q1        1
3        20090313091715820_q1        0
4        20090313571836404_q1        1
...                       ...      ...
424111  22100215342220508_q18        1
424112  22100215460321130_q18        1
424113  22100217104993650_q18        1
424114  22100219442786200_q18        1
424115  22100221145014656_q18        1

[424116 rows x 2 columns]

In [33]:
man_target

               session_id   q  correct
0       19110000090781600   0      1.0
1       19110009114094480   0      1.0
2       19110009240104090   0      1.0
3       19110011340239490   0      1.0
4       19110012454548376   0      0.0
...                   ...  ..      ...
232717  22060512165143500  17      1.0
232718  22060516353729760  17      0.0
232719  22060518310026576  17      1.0
232720  22060610361404176  17      1.0
232721  22060615522168090  17      1.0

[232722 rows x 3 columns]

In [40]:
man_target = add_target.dropna().drop(columns=['save_code']).melt('session_id', var_name='q', value_name='correct')
man_target['session_id'] = man_target.apply(lambda x: str(x['session_id']) + '_q' + str(int(x['q'])+1), axis=1)
del man_target['q']
man_target

                   session_id  correct
0        19110000090781600_q1      1.0
1        19110009114094480_q1      1.0
2        19110009240104090_q1      1.0
3        19110011340239490_q1      1.0
4        19110012454548376_q1      0.0
...                       ...      ...
232717  22060512165143500_q18      1.0
232718  22060516353729760_q18      0.0
232719  22060518310026576_q18      1.0
232720  22060610361404176_q18      1.0
232721  22060615522168090_q18      1.0

[232722 rows x 2 columns]

In [45]:
target

                   session_id  correct
0        20090312431273200_q1        1
1        20090312433251036_q1        0
2        20090312455206810_q1        1
3        20090313091715820_q1        0
4        20090313571836404_q1        1
...                       ...      ...
424111  22100215342220508_q18        1
424112  22100215460321130_q18        1
424113  22100217104993650_q18        1
424114  22100219442786200_q18        1
424115  22100221145014656_q18        1

[424116 rows x 2 columns]

In [55]:
man_target

                   session_id  correct
0        19110000090781600_q1        1
1        19110009114094480_q1        1
2        19110009240104090_q1        1
3        19110011340239490_q1        1
4        19110012454548376_q1        0
...                       ...      ...
232717  22060512165143500_q18        1
232718  22060516353729760_q18        0
232719  22060518310026576_q18        1
232720  22060610361404176_q18        1
232721  22060615522168090_q18        1

[232722 rows x 2 columns]

In [51]:
man_target = man_target.astype({'correct': 'int64'})

In [61]:
print(target.dtypes)
print(man_target.dtypes)

session_id    object
correct        int64
dtype: object
session_id    object
correct        int64
dtype: object

In [ ]:
target.merge()

In [84]:
mtarget = target.merge(man_target, on='session_id', how='outer')
mtarget['correct'] = mtarget.apply(lambda x: x['correct_x'] if ~np.isnan(x['correct_x']) else x['correct_y'], axis=1)
del mtarget['correct_x'], mtarget['correct_y']
mtarget.to_parquet('../data/processed/concat/total_target_full_labeled.parquet')

In [82]:
mtarget.

numpy.float64

In [70]:
mtarget[(mtarget['correct_x'] != mtarget['correct_y'])]

                  session_id  correct_x  correct_y
16      21000521512037530_q1          1          0
25      22000009242414744_q1          1          0
27      22000009400806260_q1          1          0
32      22000010572263176_q1          1          0
75      22000019560697010_q1          1          0
...                      ...        ...        ...
93069  22090512564049490_q18          1          0
93089  22090516154433520_q18          1          0
93130  22090613301481920_q18          1          0
93157  22090618154452916_q18          1          0
93171  22100211215679332_q18          1          0

[4909 rows x 3 columns]

In [20]:
add_target[add_target.columns[1:-1]].to_numpy()
mani_target = add_target[['session_id']]
mani_target

            session_id
0    19110000090781600
1    19110003194626970
2    19110007435189656
3    19110008053486390
4    19110008122038204
..                 ...
604  22060612030771748
605  22060614142472616
606  22060615522168090
607  22060616521475370
608  22060620095004016

[57121 rows x 1 columns]

## 2. 부분적으로 정답 데이터가 있으면 완전히 라벨이 있는 레벨그룹의 데이터는 살려두기 -

In [8]:
pd.read_parquet('../data/processed/concat/more_train_fully_labeled.parquet')

,session_id,index,fqid,level,name,room_fqid,fullscreen,hq,music,text,...,page,save_code,hover_duration,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,event_name,level_group,elapsed_time
0,19110000090781600,0,intro,0.0,basic,tunic.historicalsociety.closet,NaN,NaN,NaN,undefined,...,NaN,NaN,NaN,-421.991405,137.685314,372.0,197.0,cutscene_click,0-4,0.000000e+00
1,19110000090781600,1,gramps,0.0,basic,tunic.historicalsociety.closet,NaN,NaN,NaN,"Whatcha doing over there, Jo?",...,NaN,NaN,NaN,-421.991405,137.685314,372.0,197.0,person_click,0-4,4.670000e+02
2,19110000090781600,2,gramps,0.0,basic,tunic.historicalsociety.closet,NaN,NaN,NaN,Just talking to Teddy.,...,NaN,NaN,NaN,-294.991405,-9.314686,499.0,344.0,person_click,0-4,1.732000e+03
3,19110000090781600,3,gramps,0.0,basic,tunic.historicalsociety.closet,NaN,NaN,NaN,I gotta run to my meeting!,...,NaN,NaN,NaN,-294.991405,-9.314686,499.0,344.0,person_click,0-4,2.965000e+03
4,19110000090781600,4,gramps,0.0,basic,tunic.historicalsociety.closet,NaN,NaN,NaN,Meetings are BORING!,...,NaN,NaN,NaN,-294.991405,-9.314686,499.0,344.0,person_click,0-4,4.282000e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14690378,22060615522168090,1650,tomap,22.0,undefined,tunic.historicalsociety.entry,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,navigate_click,13-22,1.943741e+06
14690379,22060615522168090,1653,tunic.capitol_2,22.0,undefined,tunic.historicalsociety.entry,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,map_click,13-22,1.945772e+06
14690380,22060615522168090,1654,chap4_finale_c,22.0,undefined,tunic.capitol_2.hall,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,navigate_click,13-22,1.946870e+06
14690381,22060615522168090,1656,chap4_finale_c,22.0,undefined,tunic.capitol_2.hall,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,navigate_click,13-22,1.948052e+06
14690382,22060615522168090,1658,chap4_finale_c,22.0,basic,tunic.capitol_2.hall,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,checkpoint,13-22,1.948841e+06

연관성 있는 거는 놔두고,  
1. feature importance 측정해서 낮은거를 빼서 시도 
2.

In [5]:
pickle.dump(add_df, open('../data/processed/concat/more_train.pkl', 'wb'))

In [5]:
import gc
gc.collect()

18

In [2]:
more_path = '../data/processed/concat/more_train.pkl'
train_path = '../data/processed/concat/train.pkl'
# dfs = pd.concat([pd.read_parquet(data_path), pd.read_parquet('../data/raw/collected/more_data.parquet').drop(columns=['save_code'])])
dfs = pd.concat(
    [
        pickle.load(open(train_path, 'rb')), pickle.load(open(more_path, 'rb')).drop(columns=['save_code'])
    ]
)
# df_list.append()
dfs

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0.000000,cutscene_click,basic,0.0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0.0,0.0,1.0,0-4
1,20090312431273200,1,1323.000000,person_click,basic,0.0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0.0,0.0,1.0,0-4
2,20090312431273200,2,831.000000,person_click,basic,0.0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0.0,0.0,1.0,0-4
3,20090312431273200,3,1147.000000,person_click,basic,0.0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0.0,0.0,1.0,0-4
4,20090312431273200,4,1863.000000,person_click,basic,0.0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0.0,0.0,1.0,0-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1537433,22090621002910536,602,533742.000000,navigate_click,undefined,12.0,NaN,NaN,NaN,NaN,NaN,NaN,None,toentry,tunic.historicalsociety.stacks,None,NaN,NaN,NaN,5-12
1537434,22090621002910536,606,535989.000000,navigate_click,undefined,12.0,NaN,NaN,NaN,NaN,NaN,NaN,None,tomap,tunic.historicalsociety.entry,None,NaN,NaN,NaN,5-12
1537435,22090621002910536,610,538972.000000,map_click,undefined,12.0,NaN,NaN,NaN,NaN,NaN,NaN,None,tunic.capitol_1,tunic.historicalsociety.entry,None,NaN,NaN,NaN,5-12
1537436,22090621002910536,611,542015.000244,navigate_click,undefined,12.0,NaN,NaN,NaN,NaN,NaN,NaN,None,chap2_finale_c,tunic.capitol_1.hall,None,NaN,NaN,NaN,5-12
1537437,22090621002910536,614,543735.000244,checkpoint,basic,12.0,NaN,NaN,NaN,NaN,NaN,NaN,None,chap2_finale_c,tunic.capitol_1.hall,None,NaN,NaN,NaN,5-12

In [2]:
dfs = pl.from_pandas(pickle.load(open('../data/processed/concat/total_train.pkl', 'rb')))

In [2]:
# dfs = pd.read_parquet('../data/processed/concat/total_train.parquet')

:

:

In [4]:
dfs

shape: (58084103, 20)
┌──────────────┬───────┬──────────────┬──────────────┬───┬────────────┬──────┬───────┬─────────────┐
│ session_id   ┆ index ┆ elapsed_time ┆ event_name   ┆ … ┆ fullscreen ┆ hq   ┆ music ┆ level_group │
│ ---          ┆ ---   ┆ ---          ┆ ---          ┆   ┆ ---        ┆ ---  ┆ ---   ┆ ---         │
│ i64          ┆ i64   ┆ f64          ┆ str          ┆   ┆ f64        ┆ f64  ┆ f64   ┆ str         │
╞══════════════╪═══════╪══════════════╪══════════════╪═══╪════════════╪══════╪═══════╪═════════════╡
│ 200903124312 ┆ 0     ┆ 0.0          ┆ cutscene_cli ┆ … ┆ 0.0        ┆ 0.0  ┆ 1.0   ┆ 0-4         │
│ 73200        ┆       ┆              ┆ ck           ┆   ┆            ┆      ┆       ┆             │
│ 200903124312 ┆ 1     ┆ 1323.0       ┆ person_click ┆ … ┆ 0.0        ┆ 0.0  ┆ 1.0   ┆ 0-4         │
│ 73200        ┆       ┆              ┆              ┆   ┆            ┆      ┆       ┆             │
│ 200903124312 ┆ 2     ┆ 831.0        ┆ person_click ┆ … ┆ 0.0        ┆ 0.0  ┆ 1.0   ┆ 0-4         │
│ 73200        ┆       ┆              ┆              ┆   ┆            ┆      ┆       ┆             │
│ 200903124312 ┆ 3     ┆ 1147.0       ┆ person_click ┆ … ┆ 0.0        ┆ 0.0  ┆ 1.0   ┆ 0-4         │
│ 73200        ┆       ┆              ┆              ┆   ┆            ┆      ┆       ┆             │
│ …            ┆ …     ┆ …            ┆ …            ┆ … ┆ …          ┆ …    ┆ …     ┆ …           │
│ 220906210029 ┆ 606   ┆ 535989.0     ┆ navigate_cli ┆ … ┆ null       ┆ null ┆ null  ┆ 5-12        │
│ 10536        ┆       ┆              ┆ ck           ┆   ┆            ┆      ┆       ┆             │
│ 220906210029 ┆ 610   ┆ 538972.0     ┆ map_click    ┆ … ┆ null       ┆ null ┆ null  ┆ 5-12        │
│ 10536        ┆       ┆              ┆              ┆   ┆            ┆      ┆       ┆             │
│ 220906210029 ┆ 611   ┆ 542015.00024 ┆ navigate_cli ┆ … ┆ null       ┆ null ┆ null  ┆ 5-12        │
│ 10536        ┆       ┆ 4            ┆ ck           ┆   ┆            ┆      ┆       ┆             │
│ 220906210029 ┆ 614   ┆ 543735.00024 ┆ checkpoint   ┆ … ┆ null       ┆ null ┆ null  ┆ 5-12        │
│ 10536        ┆       ┆ 4            ┆              ┆   ┆            ┆      ┆       ┆             │
└──────────────┴───────┴──────────────┴──────────────┴───┴────────────┴──────┴───────┴─────────────┘

In [3]:
target = pl.from_pandas(pd.read_parquet('../data/raw/collected/more_label.parquet'))
target

shape: (57121, 20)
┌───────────────────┬─────┬─────┬─────┬───┬──────┬──────┬──────┬───────────┐
│ session_id        ┆ 0   ┆ 1   ┆ 2   ┆ … ┆ 15   ┆ 16   ┆ 17   ┆ save_code │
│ ---               ┆ --- ┆ --- ┆ --- ┆   ┆ ---  ┆ ---  ┆ ---  ┆ ---       │
│ i64               ┆ f64 ┆ f64 ┆ f64 ┆   ┆ f64  ┆ f64  ┆ f64  ┆ str       │
╞═══════════════════╪═════╪═════╪═════╪═══╪══════╪══════╪══════╪═══════════╡
│ 19110000090781600 ┆ 1.0 ┆ 1.0 ┆ 1.0 ┆ … ┆ 0.0  ┆ 1.0  ┆ 1.0  ┆ 0         │
│ 19110003194626970 ┆ 0.0 ┆ 1.0 ┆ 1.0 ┆ … ┆ null ┆ null ┆ null ┆ 0.0       │
│ 19110007435189656 ┆ 0.0 ┆ 1.0 ┆ 1.0 ┆ … ┆ null ┆ null ┆ null ┆ 0.0       │
│ 19110008053486390 ┆ 1.0 ┆ 1.0 ┆ 1.0 ┆ … ┆ null ┆ null ┆ null ┆ 0.0       │
│ …                 ┆ …   ┆ …   ┆ …   ┆ … ┆ …    ┆ …    ┆ …    ┆ …         │
│ 22060614142472616 ┆ 0.0 ┆ 1.0 ┆ 1.0 ┆ … ┆ null ┆ null ┆ null ┆ 0.0       │
│ 22060615522168090 ┆ 1.0 ┆ 1.0 ┆ 1.0 ┆ … ┆ 1.0  ┆ 1.0  ┆ 1.0  ┆ 0         │
│ 22060616521475370 ┆ 1.0 ┆ 1.0 ┆ 0.0 ┆ … ┆ null ┆ null ┆ null ┆ 0.0       │
│ 22060620095004016 ┆ 1.0 ┆ 1.0 ┆ 1.0 ┆ … ┆ null ┆ null ┆ null ┆ 0.0       │
└───────────────────┴─────┴─────┴─────┴───┴──────┴──────┴──────┴───────────┘

In [41]:
dfs_part = dfs[-10000:]
dfs_part

shape: (10000, 20)
┌──────────────┬───────┬──────────────┬──────────────┬───┬────────────┬──────┬───────┬─────────────┐
│ session_id   ┆ index ┆ elapsed_time ┆ event_name   ┆ … ┆ fullscreen ┆ hq   ┆ music ┆ level_group │
│ ---          ┆ ---   ┆ ---          ┆ ---          ┆   ┆ ---        ┆ ---  ┆ ---   ┆ ---         │
│ i64          ┆ i64   ┆ f64          ┆ str          ┆   ┆ f64        ┆ f64  ┆ f64   ┆ str         │
╞══════════════╪═══════╪══════════════╪══════════════╪═══╪════════════╪══════╪═══════╪═════════════╡
│ 220906101316 ┆ 1415  ┆ 1.579023e6   ┆ cutscene_cli ┆ … ┆ null       ┆ null ┆ null  ┆ 13-22       │
│ 03720        ┆       ┆              ┆ ck           ┆   ┆            ┆      ┆       ┆             │
│ 220906101316 ┆ 1416  ┆ 1.580623e6   ┆ cutscene_cli ┆ … ┆ null       ┆ null ┆ null  ┆ 13-22       │
│ 03720        ┆       ┆              ┆ ck           ┆   ┆            ┆      ┆       ┆             │
│ 220906101316 ┆ 1417  ┆ 1.581854e6   ┆ cutscene_cli ┆ … ┆ null       ┆ null ┆ null  ┆ 13-22       │
│ 03720        ┆       ┆              ┆ ck           ┆   ┆            ┆      ┆       ┆             │
│ 220906101316 ┆ 1418  ┆ 1.5827e6     ┆ cutscene_cli ┆ … ┆ null       ┆ null ┆ null  ┆ 13-22       │
│ 03720        ┆       ┆              ┆ ck           ┆   ┆            ┆      ┆       ┆             │
│ …            ┆ …     ┆ …            ┆ …            ┆ … ┆ …          ┆ …    ┆ …     ┆ …           │
│ 220906210029 ┆ 606   ┆ 535989.0     ┆ navigate_cli ┆ … ┆ null       ┆ null ┆ null  ┆ 5-12        │
│ 10536        ┆       ┆              ┆ ck           ┆   ┆            ┆      ┆       ┆             │
│ 220906210029 ┆ 610   ┆ 538972.0     ┆ map_click    ┆ … ┆ null       ┆ null ┆ null  ┆ 5-12        │
│ 10536        ┆       ┆              ┆              ┆   ┆            ┆      ┆       ┆             │
│ 220906210029 ┆ 611   ┆ 542015.00024 ┆ navigate_cli ┆ … ┆ null       ┆ null ┆ null  ┆ 5-12        │
│ 10536        ┆       ┆ 4            ┆ ck           ┆   ┆            ┆      ┆       ┆             │
│ 220906210029 ┆ 614   ┆ 543735.00024 ┆ checkpoint   ┆ … ┆ null       ┆ null ┆ null  ┆ 5-12        │
│ 10536        ┆       ┆ 4            ┆              ┆   ┆            ┆      ┆       ┆             │
└──────────────┴───────┴──────────────┴──────────────┴───┴────────────┴──────┴───────┴─────────────┘

In [39]:
# len(set(dfs['session_id'].to_numpy()))# & set(target['session_id'].to_numpy())

# len(set(target['session_id'].to_numpy()))

57121

In [20]:
target.drop_nulls().select('session_id')

shape: (12929, 1)
┌───────────────────┐
│ session_id        │
│ ---               │
│ i64               │
╞═══════════════════╡
│ 19110000090781600 │
│ 19110009114094480 │
│ 19110009240104090 │
│ 19110011340239490 │
│ …                 │
│ 22060516353729760 │
│ 22060518310026576 │
│ 22060610361404176 │
│ 22060615522168090 │
└───────────────────┘

In [43]:
pickle.dump(dfs.join(target.drop_nulls().select('session_id'), on='session_id', how='inner').to_pandas(), open('../data/processed/concat/more_train_fully_labeled.pkl', 'wb'))

:

:

In [4]:
# target 값 모두 존재하는 경우만 남겨두기 
pickle.dump(dfs.set_index('session_id').loc[add_target.dropna().session_id], open('../data/processed/concat/total_train_finusers', 'wb'))

:

:

In [5]:
dfs['text_fqid'].unique()

array(['tunic.historicalsociety.closet.intro',
       'tunic.historicalsociety.closet.gramps.intro_0_cs_0',
       'tunic.historicalsociety.closet.teddy.intro_0_cs_0', None,
       'tunic.historicalsociety.closet.teddy.intro_0_cs_5',
       'tunic.historicalsociety.closet.photo',
       'tunic.historicalsociety.closet.notebook',
       'tunic.historicalsociety.closet.retirement_letter.hub',
       'tunic.historicalsociety.basement.janitor',
       'tunic.historicalsociety.entry.groupconvo',
       'tunic.historicalsociety.entry.boss.talktogramps',
       'tunic.historicalsociety.entry.wells.talktogramps',
       'tunic.historicalsociety.collection.cs',
       'tunic.historicalsociety.collection.tunic.slip',
       'tunic.historicalsociety.collection.gramps.found',
       'tunic.historicalsociety.stacks.outtolunch',
       'tunic.kohlcenter.halloffame.plaque.face.date',
       'tunic.kohlcenter.halloffame.togrampa',
       'tunic.capitol_0.hall.boss.talktogramps',
       'tunic.historicalsociety.closet_dirty.what_happened',
       'tunic.historicalsociety.closet_dirty.gramps.helpclean',
       'tunic.historicalsociety.closet_dirty.trigger_scarf',
       'tunic.historicalsociety.closet_dirty.trigger_coffee',
       'tunic.historicalsociety.closet_dirty.gramps.news',
       'tunic.historicalsociety.frontdesk.archivist.hello',
       'tunic.historicalsociety.frontdesk.archivist.need_glass_0',
       'tunic.historicalsociety.frontdesk.magnify',
       'tunic.historicalsociety.frontdesk.archivist.have_glass',
       'tunic.historicalsociety.frontdesk.archivist.have_glass_recap',
       'tunic.humanecology.frontdesk.worker.intro',
       'tunic.humanecology.frontdesk.businesscards.card_bingo.bingo',
       'tunic.humanecology.frontdesk.worker.badger',
       'tunic.drycleaner.frontdesk.worker.hub',
       'tunic.drycleaner.frontdesk.logbook.page.bingo',
       'tunic.drycleaner.frontdesk.worker.done',
       'tunic.library.frontdesk.worker.hello',
       'tunic.library.microfiche.reader.paper2.bingo',
       'tunic.library.frontdesk.wellsbadge.hub',
       'tunic.library.frontdesk.worker.wells',
       'tunic.capitol_1.hall.boss.haveyougotit',
       'tunic.historicalsociety.frontdesk.archivist.newspaper',
       'tunic.historicalsociety.stacks.journals.pic_2.bingo',
       'tunic.historicalsociety.basement.ch3start',
       'tunic.historicalsociety.basement.gramps.whatdo',
       'tunic.historicalsociety.basement.seescratches',
       'tunic.historicalsociety.cage.glasses.beforeteddy',
       'tunic.historicalsociety.cage.teddy.trapped',
       'tunic.historicalsociety.cage.glasses.afterteddy',
       'tunic.historicalsociety.entry.directory.closeup.archivist',
       'tunic.historicalsociety.frontdesk.key',
       'tunic.historicalsociety.cage.unlockdoor',
       'tunic.historicalsociety.cage.confrontation',
       'tunic.historicalsociety.basement.savedteddy',
       'tunic.historicalsociety.collection_flag.gramps.flag',
       'tunic.historicalsociety.entry.groupconvo_flag',
       'tunic.historicalsociety.entry.wells.flag',
       'tunic.historicalsociety.entry.boss.flag',
       'tunic.historicalsociety.entry.wells.flag_recap',
       'tunic.historicalsociety.entry.boss.flag_recap',
       'tunic.wildlife.center.coffee',
       'tunic.wildlife.center.wells.animals',
       'tunic.wildlife.center.wells.animals2',
       'tunic.wildlife.center.crane_ranger.crane',
       'tunic.wildlife.center.remove_cup',
       'tunic.wildlife.center.expert.removed_cup',
       'tunic.wildlife.center.tracks.hub.deer',
       'tunic.wildlife.center.expert.recap',
       'tunic.wildlife.center.wells.nodeer',
       'tunic.flaghouse.entry.flag_girl.hello',
       'tunic.flaghouse.entry.colorbook',
       'tunic.flaghouse.entry.flag_girl.symbol',
       'tunic.flaghouse.entry.flag_girl.symbol_recap',
       'tunic.library.frontdesk.worker.flag',
       'tunic.library.microfiche.reader_flag.paper2.bingo',
       'tunic.library.frontdesk.worker.nelson',
       'tunic.historicalsociety.frontdesk.archivist_glasses.confrontation',
       'tunic.historicalsociety.stacks.journals_flag.pic_0.bingo',
       'tunic.historicalsociety.entry.block_tocollection',
       'tunic.historicalsociety.closet_dirty.gramps.archivist',
       'tunic.historicalsociety.cage.lockeddoor',
       'tunic.capitol_2.hall.boss.haveyougotit',
       'tunic.drycleaner.frontdesk.worker.done2',
       'tunic.library.frontdesk.worker.preflag',
       'tunic.historicalsociety.closet_dirty.photo',
       'tunic.historicalsociety.collection_flag.gramps.recap',
       'tunic.wildlife.center.wells.nodeer_recap',
       'tunic.library.frontdesk.worker.flag_recap',
       'tunic.historicalsociety.frontdesk.archivist_glasses.confrontation_recap',
       'tunic.historicalsociety.collection.tunic',
       'tunic.historicalsociety.collection.gramps.lost',
       'tunic.humanecology.frontdesk.block_0',
       'tunic.library.frontdesk.worker.wells_recap',
       'tunic.capitol_1.hall.chap2_finale_c',
       'tunic.capitol_1.hall.boss.writeitup',
       'tunic.historicalsociety.stacks.journals_flag.pic_1.bingo',
       'tunic.historicalsociety.frontdesk.block_magnify',
       'tunic.historicalsociety.closet.doorblock',
       'tunic.historicalsociety.stacks.journals_flag.pic_2.bingo',
       'tunic.capitol_2.hall.chap4_finale_c',
       'tunic.historicalsociety.closet_dirty.door_block_clean',
       'tunic.historicalsociety.closet_dirty.door_block_talk',
       'tunic.historicalsociety.stacks.block',
       'tunic.flaghouse.entry.flag_girl.hello_recap',
       'tunic.historicalsociety.entry.block_tomap2',
       'tunic.historicalsociety.frontdesk.archivist.newspaper_recap',
       'tunic.historicalsociety.basement.gramps.seeyalater',
       'tunic.library.frontdesk.worker.hello_short',
       'tunic.historicalsociety.closet_dirty.gramps.nothing',
       'tunic.historicalsociety.cage.need_glasses',
       'tunic.library.frontdesk.block_nelson',
       'tunic.library.frontdesk.worker.nelson_recap',
       'tunic.historicalsociety.frontdesk.archivist.need_glass_1',
       'tunic.library.frontdesk.worker.droppedbadge',
       'tunic.drycleaner.frontdesk.worker.takealook',
       'tunic.historicalsociety.entry.block_tomap1',
       'tunic.capitol_0.hall.chap1_finale_c',
       'tunic.historicalsociety.frontdesk.archivist.foundtheodora',
       'tunic.library.frontdesk.block_badge',
       'tunic.kohlcenter.halloffame.block_0',
       'tunic.drycleaner.frontdesk.block_0',
       'tunic.library.microfiche.block_0',
       'tunic.historicalsociety.collection.gramps.look_0',
       'tunic.wildlife.center.fox.concern',
       'tunic.library.frontdesk.block_badge_2',
       'tunic.historicalsociety.entry.gramps.hub',
       'tunic.humanecology.frontdesk.block_1',
       'tunic.drycleaner.frontdesk.block_1',
       'tunic.nelson.trail.gramps.question', 'tunic.nelson.trail.display',
       'tunic.capitol_3.hall.chap5_finale_c', 'tunic.nelson.trail.coffee',
       'tunic.nelson.trail.conclusion'], dtype=object)

In [6]:
dfs['fqid'].unique()

array(['intro', 'gramps', 'teddy', 'photo', None, 'notebook',
       'retirement_letter', 'tobasement', 'janitor', 'toentry',
       'groupconvo', 'report', 'boss', 'wells', 'directory',
       'tocollection', 'cs', 'tunic', 'tunic.hub.slip', 'tostacks',
       'outtolunch', 'tocloset', 'tomap', 'tunic.historicalsociety',
       'tunic.kohlcenter', 'plaque', 'plaque.face.date', 'togrampa',
       'tunic.capitol_0', 'chap1_finale', 'chap1_finale_c',
       'tocloset_dirty', 'what_happened', 'trigger_scarf',
       'trigger_coffee', 'tunic.capitol_1', 'tofrontdesk', 'archivist',
       'magnify', 'tunic.humanecology', 'worker', 'businesscards',
       'businesscards.card_0.next', 'businesscards.card_1.next',
       'businesscards.card_bingo.next', 'businesscards.card_bingo.bingo',
       'tohallway', 'tunic.drycleaner', 'logbook', 'logbook.page.bingo',
       'tunic.library', 'tomicrofiche', 'reader', 'reader.paper0.next',
       'reader.paper1.next', 'reader.paper2.bingo', 'wellsbadge',
       'journals', 'journals.hub.topics', 'journals.pic_0.next',
       'journals.pic_1.next', 'journals.pic_2.bingo', 'chap2_finale_c',
       'ch3start', 'seescratches', 'tocage', 'glasses',
       'directory.closeup.archivist', 'key', 'unlockdoor',
       'confrontation', 'savedteddy', 'tocollectionflag',
       'groupconvo_flag', 'tunic.capitol_2', 'tunic.wildlife', 'coffee',
       'crane_ranger', 'remove_cup', 'expert', 'tracks',
       'tracks.hub.deer', 'tunic.flaghouse', 'flag_girl', 'colorbook',
       'reader_flag', 'reader_flag.paper0.next',
       'reader_flag.paper1.next', 'reader_flag.paper2.bingo',
       'archivist_glasses', 'journals_flag',
       'journals_flag.hub.topics_old', 'journals_flag.hub.topics',
       'journals_flag.pic_0.bingo', 'journals_flag.pic_0.next',
       'chap4_finale_c', 'block_tocollection', 'reader.paper2.next',
       'journals.pic_2.next', 'lockeddoor', 'reader.paper2.prev',
       'reader.paper0.prev', 'reader_flag.paper1.prev',
       'journals_flag.pic_0_old.next', 'journals_flag.pic_1_old.next',
       'reader.paper1.prev', 'block_0', 'journals_flag.pic_1.bingo',
       'block_magnify', 'journals_flag.pic_1.next', 'doorblock',
       'journals_flag.pic_2.bingo', 'journals_flag.pic_2.next',
       'door_block_clean', 'door_block_talk', 'block',
       'reader_flag.paper2.next', 'block_tomap2',
       'reader_flag.paper0.prev', 'journals_flag.pic_2_old.next',
       'need_glasses', 'block_nelson', 'block_tomap1',
       'reader_flag.paper2.prev', 'block_badge', 'fox', 'block_badge_2',
       'block_1', 'chap2_finale', '0', 'sign', 'display',
       'chap5_finale_c', 'conclusion'], dtype=object)

In [ ]:
add_target = pd.read_parquet('../data/raw/collected/more_label.parquet')
add_target

,session_id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,save_code
0,19110000090781600,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0
1,19110003194626970,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,19110007435189656,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,19110008053486390,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
4,19110008122038204,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,22060612030771748,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
605,22060614142472616,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
606,22060615522168090,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0
607,22060616521475370,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
608,22060620095004016,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [14]:
add_target.sample(10)

,session_id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,save_code
259,22060113190074090,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2379,20010617204263936,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3369,22000308205590510,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5,22060110285634984,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0
1172,20010312544056830,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2110,22090409512255504,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2484,20040411184960390,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3867,22030210072492556,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2364,20020512202774744,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
632,22100208531800390,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0

In [18]:
dfs.text_fqid[10000]

10000          tunic.humanecology.frontdesk.worker.intro
10000    tunic.historicalsociety.collection.gramps.found
10000                                               None
10000                                               None
10000         tunic.historicalsociety.cage.confrontation
10000                                               None
10000                                               None
10000                                               None
10000                                               None
10000                                               None
10000                                               None
10000                                               None
10000                                               None
10000                                               None
10000              tunic.library.frontdesk.worker.nelson
10000           tunic.historicalsociety.entry.groupconvo
10000                                               None
10000                                               None
10000            tunic.historicalsociety.cage.unlockdoor
10000                                               None
10000                                               None
Name: text_fqid, dtype: object

In [ ]:
dfs['fqid'].unique()

In [20]:
dfs.loc[dfs.text_fqid == 'tunic.historicalsociety.cage.confrontation', 'fqid'].unique()

array(['confrontation'], dtype=object)

In [15]:
## nan값만 없으면 이렇게 압축 가능함..
# dfs.astype({
#     'elapsed_time': 'int64',
#     'level': 'int8',
#     'page': 'int8', 
#     'room_coor_x': 'int32',
#     'room_coor_y': 'int32',
#     'screen_coor_x': 'int32',
#     'screen_coor_y': 'int32',
#     'hover_duration': 'int64',
#     'fullscreen': 'int8', 
#     'hq': 'int8',
#     'music': 'int8'
# }).to_parquet('../data/processed/concat/more_train_comp.parquet')

In [6]:
pd.concat([df, add_df.drop(columns=['save_code'])])

:

:

In [ ]:
# 원래 데이터에 있는걸 우선으로
def add_data(df, targets):
    dfa = pd.concat([df, add_df.drop(columns=['save_code'])])
    return 

# total_df, total_targets = add_data(df, targets)