In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
def load_targets(target):
    targets = pd.read_csv(target)
    targets["session"] = targets["session_id"].str.split("_",expand = True)[0]
    targets["session"] = targets["session"].astype(int)
    targets['q'] = targets.session_id.apply(lambda x: int(x.split('_')[-1][1:]) )
    return targets

In [2]:
target_path = '../data/raw/input/train_labels.csv'
data_path = '../data/raw/input/train.parquet'
# targets = load_targets(target_path)
df = pd.read_parquet(data_path)

In [3]:
pickle.dump(df, open('../data/processed/concat/train.pkl', 'wb'))

In [4]:
add_df = pd.read_parquet('../data/raw/collected/more_data.parquet')
# add_target = pd.read_parquet('../data/raw/collected/more_label.parquet')

# display(add_df.head())
# display(add_target.head())

In [5]:
pickle.dump(add_df, open('../data/processed/concat/more_train.pkl', 'wb'))

In [5]:
import gc
gc.collect()

18

In [3]:
more_path = '../data/processed/concat/more_train.pkl'
train_path = '../data/processed/concat/train.pkl'
# dfs = pd.concat([pd.read_parquet(data_path), pd.read_parquet('../data/raw/collected/more_data.parquet').drop(columns=['save_code'])])
dfs = pd.concat(
    [
        pickle.load(open(train_path, 'rb')), pickle.load(open(more_path, 'rb')).drop(columns=['save_code'])
    ]
)
# df_list.append()
dfs

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0.000000,cutscene_click,basic,0.0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0.0,0.0,1.0,0-4
1,20090312431273200,1,1323.000000,person_click,basic,0.0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0.0,0.0,1.0,0-4
2,20090312431273200,2,831.000000,person_click,basic,0.0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0.0,0.0,1.0,0-4
3,20090312431273200,3,1147.000000,person_click,basic,0.0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0.0,0.0,1.0,0-4
4,20090312431273200,4,1863.000000,person_click,basic,0.0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0.0,0.0,1.0,0-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1537433,22090621002910536,602,533742.000000,navigate_click,undefined,12.0,NaN,NaN,NaN,NaN,NaN,NaN,None,toentry,tunic.historicalsociety.stacks,None,NaN,NaN,NaN,5-12
1537434,22090621002910536,606,535989.000000,navigate_click,undefined,12.0,NaN,NaN,NaN,NaN,NaN,NaN,None,tomap,tunic.historicalsociety.entry,None,NaN,NaN,NaN,5-12
1537435,22090621002910536,610,538972.000000,map_click,undefined,12.0,NaN,NaN,NaN,NaN,NaN,NaN,None,tunic.capitol_1,tunic.historicalsociety.entry,None,NaN,NaN,NaN,5-12
1537436,22090621002910536,611,542015.000244,navigate_click,undefined,12.0,NaN,NaN,NaN,NaN,NaN,NaN,None,chap2_finale_c,tunic.capitol_1.hall,None,NaN,NaN,NaN,5-12
1537437,22090621002910536,614,543735.000244,checkpoint,basic,12.0,NaN,NaN,NaN,NaN,NaN,NaN,None,chap2_finale_c,tunic.capitol_1.hall,None,NaN,NaN,NaN,5-12

In [4]:
# dfs.to_parquet('../data/processed/concat/total_train.parquet', index=None)

In [6]:
dfs.dtypes

session_id          int64
index               int64
elapsed_time      float64
event_name         object
name               object
level             float64
page              float64
room_coor_x       float64
room_coor_y       float64
screen_coor_x     float64
screen_coor_y     float64
hover_duration    float64
text               object
fqid               object
room_fqid          object
text_fqid          object
fullscreen        float64
hq                float64
music             float64
level_group        object
dtype: object

In [6]:
pd.concat([df, add_df.drop(columns=['save_code'])])

:

:

In [ ]:
# 원래 데이터에 있는걸 우선으로
def add_data(df, targets):
    dfa = pd.concat([df, add_df.drop(columns=['save_code'])])
    return 

# total_df, total_targets = add_data(df, targets)